<h1><%= @user.username.titleize %>'s Profile</h1>

<div class="col-md-8">

  <h3> Reviews: (<%= @user.reviews.count %>)</h3>

  <% @user.reviews.each.with_index(1) do |r, i| %>
    <%= "#{i}" %>. <%= r.title %> - <%= r.content %>
      <% if current_user %>
        <%= link_to "edit" %>
        <%= link_to "delete", @review, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
  <% end %>


  </div>
</div>
