<h1>Add a new book</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <%= form_for @book do |book_form| %>

    <%= render 'shared/error_messages', object: book_form.object %>


          <%= book_form.label :title %>
          <%= book_form.text_field :title, class: 'form-control' %>

          <%= book_form.label :author %>
          <%= book_form.text_field :author, class: 'form-control' %>

            <%= book_form.fields_for :reviews do |rev_form| %>

            <%= rev_form.label :title %>
            <%= rev_form.text_field :title %>

            <%= rev_form.label :content %>
            <%= rev_form.text_area :content %>

            <%= rev_form.label :rating %> (1-5)
            <%= rev_form.number_field :rating %>

            <%= rev_form.hidden_field :user_id, value: current_user.id %>

            <% end %>

          <%= book_form.submit %>

    <% end %>

  </div>
</div>
