
<center><h1 class="bookTitle"><%=@book.title.titleize%></h1><br>
By: <h3 class="bookAuthor"><%=@book.author.titleize%></h3><br>
<p>Summary:<h5 class="bookSummary"><%=@book.summary%></h5><br></p></center>
<br>
<br>
<br>
<center>
<%= link_to "Prev Book", book_path(@book.prev), :class => "previous_link", :"data-attribute" => @book.id %>
<%= link_to "Next Book", book_path(@book.next), :class => "next_link", :"data-attribute" => @book.id  %>
</center>

<h3>Reviews:</h3>


<%= link_to "Load reviews", book_reviews_path(@book), :class => "reviews_link" %>
<br>
<div>
  <ol class="reviews">
    <!-- this is where the reviews will be inserted via ajax/jquery -->
  </ol>
</div>
<br>
<br>
<div class="review_form">
<% if logged_in? %>
  <%= render 'reviews/form' %>
<% end %>
</div>
<br>


<!-- # <% if logged_in? %>
# <%= link_to "Add A Review", new_book_review_path(@book), class: "btn btn-lg btn-primary" %>
# <% end %> -->
