<center><h1><%= @book.title.titleize %></h1><br>
By: <h3><%= @book.author.titleize %></h3><br>
<p>Summary: <h5><%= @book.summary %></h5><br></p></center>
<br>
<br>
<br>
<h3>Reviews:</h3>

<%= link_to "Load reviews", book_reviews_path(@book), :class => "reviews_link" %>
<br>
<div class="reviews">
  <!-- this is where the reviews will be inserted via ajax/jquery -->
</div>
<br>
<br>
<div class="review_form">
<% if logged_in? %>
  <%= form_for ([@book, @review])  do |book_review| %>

    <%= render 'shared/error_messages', object: book_review.object %>

        <%= book_review.label :title %>
        <%= book_review.text_field :title, class: 'form-control' %>

        <%= book_review.label :content %>
        <%= book_review.text_area :content, class: 'form-control' %>

        <%= book_review.label :rating %>
        <%= book_review.number_field :rating, class: 'form-control' %>

        <%= book_review.submit "Submit", class: "btn btn-primary" %>

  <% end %>
<% end %>
</div>
<br>
<!-- # <% if logged_in? %>
# <%= link_to "Add A Review", new_book_review_path(@book), class: "btn btn-lg btn-primary" %>
# <% end %> -->
