<h1>Edit Review</h1>
<%= form_for [:book, @review]  do |book_review| %>

  <%= render 'shared/error_messages', object: book_review.object %>

      <%= book_review.label :title %>
      <%= book_review.text_field :title, class: 'form-control' %>

      <%= book_review.label :content %>
      <%= book_review.text_area :content, class: 'form-control' %>

      <%= book_review.label :rating %>
      <%= book_review.number_field :rating, class: 'form-control' %>
      <%= book_review.hidden_field :user_id, value: current_user.id %>
      <%= book_review.hidden_field :book_id %>

      <%= book_review.submit "Submit", class: "btn btn-primary" %>

<% end %>
